<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Rollnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.rollnumber %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>




    <header class="v-header container">
      <div class="fullscreen-video-wrap">
        <video src="vid/dock.mov" autoplay="" loop=""></video>
      </div>
      <div class="header-overlay"></div>
      <div class="header-content ">
        <div class="logo">
          <img src="/assets/logo4.png" alt="Puzzle Lightbulb">
        </div>
        <div class="logo-name">
          <img src="/assets/name3.png" alt="Denis S Dujota">
          <a href="#about" class="btn fa fa-chevron-circle-down fa-5x"></a>
        </div>



        <!-- <h1>Hello World</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!</p> -->
        <!--
      </div> -->
    </header>

  <section class="section section-light">
    <h1>Who Am I ?</h1>

    <p>
      I am an adventurer.
      It can take me to the far east for a bowl of the best ramen on earth or pulling a marathon of Neil deGrasse Tyson. It's that spark of curiousity which drives my passion. Nothing has captivated me more than the journey of being a web developer. I'd like to keep it up.
    </p>
  </section>

  <div class="parallax-img2">
    <div class="ptext">
      <span class="border">
        <img src="/assets/quote5.png" alt="Isaac Newton Quote">
      </span>
    </div>
  </div>

  <div class="section section-dark">
    <h2>What can I do?</h2>

    <p class="skill-name"><i class="fa fa-cogs" aria-hidden="true"></i> Back-End (Rails, PostgreSQL)</p>
    <div class="skill-container">
      <div class="skills back-end">90%</div>
    </div>

    <p class="skill-name"><i class="fa fa-picture-o" aria-hidden="true"></i> Front-End (HTML, CSS, JS)</p>
    <div class="skill-container">
      <div class="skills front-end">85%</div>
    </div>

    <p class="skill-name"><i class="fa fa-shield" aria-hidden="true"></i> Testing (RSpec, Jasmine, PhantomJS)</p>
    <div class="skill-container">
      <div class="skills testing">80%</div>
    </div>

    <p class="skill-name"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Web Design</p>
    <div class="skill-container">
      <div class="skills design">75%</div>
    </div>

    <p class="skill-name"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Learning a new skill</p>
    <div class="skill-container">
      <div class="skills learn">100%</div>
    </div>

  </div>

  <div class="parallax-img3">
    <div class="ptext">
      <span class="border">
        <img src="/assets/quote6-a.png" alt="Socrates Quote">
      </span>
    </div>
  </div>

  <div class="section section section-dark">
    <h2>What have I done?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quisquam voluptatum quidem praesentium temporibus eaque commodi nihil, rerum saepe in perspiciatis. Odit, blanditiis eius debitis, quisquam et optio! Iure nesciunt commodi nulla aliquam culpa fugit nihil laboriosam soluta repellat consequuntur magnam repudiandae odio reiciendis, veniam illo, modi quibusdam impedit deleniti?
    </p>
  </div>

  <div class="parallax-img1">
    <div class="ptext">
      <span class="border">
        <h1>The End</h1>
      </span>
    </div>
  </div>

  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
